---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import TailwindTest from "../components/TailwindTest.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Ciarán Curley</h1>
      <p>Software Engineer from Dublin, Ireland</p>

      <TailwindTest />
    </main>
    <Footer />
  </body>
</html>
