---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title={SITE_TITLE} description={SITE_DESCRIPTION} activeLink="home">
  <div class="prose prose-invert prose-lg max-w-none">
    <h2 class="text-3xl font-bold text-white mb-6">Welcome!</h2>

    <p>
      I'm a software engineer based in Dublin, Ireland with over 8 years of
      building web applications.
    </p>
    <h3>Skills</h3>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 my-6">
      <div class="flex flex-col items-center">
        <div
          class="bg-gray-700 p-4 rounded-lg w-16 h-16 flex items-center justify-center mb-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-10 h-10 text-blue-500"
          >
            <path
              d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0H1.125zM12 17.75a5.75 5.75 0 1 1 0-11.5 5.75 5.75 0 0 1 0 11.5z"
            ></path>
          </svg>
        </div>
        <span class="text-center text-gray-300">TypeScript</span>
      </div>

      <div class="flex flex-col items-center">
        <div
          class="bg-gray-700 p-4 rounded-lg w-16 h-16 flex items-center justify-center mb-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-10 h-10 text-teal-400"
          >
            <path
              d="M14.23 12.004a2.236 2.236 0 0 1-2.235 2.236 2.236 2.236 0 0 1-2.236-2.236 2.236 2.236 0 0 1 2.235-2.236 2.236 2.236 0 0 1 2.236 2.236zm2.648-10.69c-1.346 0-3.107.96-4.888 2.622-1.78-1.653-3.542-2.602-4.887-2.602-.41 0-.783.093-1.106.278-1.375.793-1.683 3.264-.973 6.365C1.98 8.917 0 10.42 0 12.004c0 1.59 1.99 3.097 5.043 4.03-.704 3.113-.39 5.588.988 6.38.32.187.69.275 1.102.275 1.345 0 3.107-.96 4.888-2.624 1.78 1.654 3.542 2.603 4.887 2.603.41 0 .783-.09 1.106-.275 1.374-.792 1.683-3.263.973-6.365C22.02 15.096 24 13.59 24 12.004c0-1.59-1.99-3.097-5.043-4.032.704-3.11.39-5.587-.988-6.38-.318-.184-.688-.277-1.092-.278zm-.005 1.09v.006c.225 0 .406.044.558.127.666.382.955 1.835.73 3.704-.054.46-.142.945-.25 1.44-.96-.236-2.006-.417-3.107-.534-.66-.905-1.345-1.727-2.035-2.447 1.592-1.48 3.087-2.292 4.105-2.295zm-9.77.02c1.012 0 2.514.808 4.11 2.28-.686.72-1.37 1.537-2.02 2.442-1.107.117-2.154.298-3.113.538-.112-.49-.195-.964-.254-1.42-.23-1.868.054-3.32.714-3.707.19-.09.4-.127.563-.132zm4.882 3.05c.455.468.91.992 1.36 1.564-.44-.02-.89-.034-1.345-.034-.46 0-.915.01-1.36.034.44-.572.895-1.096 1.345-1.565zM12 8.1c.74 0 1.477.034 2.202.093.406.582.802 1.203 1.183 1.86.372.64.71 1.29 1.018 1.946-.308.655-.646 1.31-1.013 1.95-.38.66-.773 1.288-1.18 1.87-.728.063-1.466.098-2.21.098-.74 0-1.477-.035-2.202-.093-.406-.582-.802-1.204-1.183-1.86-.372-.64-.71-1.29-1.018-1.946.303-.657.646-1.313 1.013-1.954.38-.66.773-1.286 1.18-1.868.728-.064 1.466-.098 2.21-.098zm-3.635.254c-.24.377-.48.763-.704 1.16-.225.39-.435.782-.635 1.174-.265-.656-.49-1.31-.676-1.947.64-.15 1.315-.283 2.015-.386zm7.26 0c.695.103 1.365.23 2.006.387-.18.632-.405 1.282-.66 1.933-.2-.39-.41-.783-.64-1.174-.225-.392-.465-.774-.705-1.146zm3.063.675c.484.15.944.317 1.375.498 1.732.74 2.852 1.708 2.852 2.476-.005.768-1.125 1.74-2.857 2.475-.42.18-.88.342-1.355.493-.28-.958-.646-1.956-1.1-2.98.45-1.017.81-2.01 1.085-2.964zm-13.395.004c.278.96.645 1.957 1.1 2.98-.45 1.017-.812 2.01-1.086 2.964-.484-.15-.944-.318-1.37-.5-1.732-.737-2.852-1.706-2.852-2.474 0-.768 1.12-1.742 2.852-2.476.42-.18.88-.342 1.356-.494zm11.678 4.28c.265.657.49 1.312.676 1.948-.64.157-1.316.29-2.016.39.24-.375.48-.762.705-1.158.225-.39.435-.788.636-1.18zm-9.945.02c.2.392.41.783.64 1.175.23.39.465.772.705 1.143-.695-.102-1.365-.23-2.006-.386.18-.63.406-1.282.66-1.933zM17.92 16.32c.112.493.2.968.254 1.423.23 1.868-.054 3.32-.714 3.708-.147.09-.338.128-.563.128-1.012 0-2.514-.807-4.11-2.28.686-.72 1.37-1.536 2.02-2.44 1.107-.118 2.154-.3 3.113-.54zm-11.83.01c.96.234 2.006.415 3.107.532.66.905 1.345 1.727 2.035 2.446-1.595 1.483-3.092 2.295-4.11 2.295-.22-.005-.406-.05-.553-.132-.666-.38-.955-1.834-.73-3.703.054-.46.142-.944.25-1.438zm4.56.64c.44.02.89.034 1.345.034.46 0 .915-.01 1.36-.034-.44.572-.895 1.095-1.345 1.565-.455-.47-.91-.993-1.36-1.565z"
            ></path>
          </svg>
        </div>
        <span class="text-center text-gray-300">React</span>
      </div>

      <div class="flex flex-col items-center">
        <div
          class="bg-gray-700 p-4 rounded-lg w-16 h-16 flex items-center justify-center mb-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-10 h-10 text-white"
          >
            <path
              d="M11.572 0c-.176 0-.31.001-.358.007-.194.023-.203.031-.203.031v.024l.016.015h.04c.153 0 .372.023.602.069.296.056.587.152.848.33.144.099.283.22.418.353.135.133.256.286.366.445.109.16.214.33.314.506.076.134.147.275.213.42.024.052.043.107.063.158.068.18.098.375.098.575 0 .036-.004.07-.008.104-.006.087-.013.159-.022.226-.04.283-.124.55-.233.796-.257.58-.674 1.05-1.14 1.471-.47.42-.97.796-1.463 1.148-.498.35-.988.682-1.436 1.013-.448.33-.85.673-1.196 1.016-.347.343-.652.7-.89 1.087-.238.386-.404.804-.463 1.245-.034.251-.04.514-.02.766.026.326.092.64.192.942.1.302.233.59.39.86.158.273.34.526.544.759.204.233.43.448.674.643.243.196.503.376.773.54.273.165.556.315.845.45.29.134.59.253.895.357.305.103.616.19.932.26.317.069.636.123.958.162.322.038.647.063.974.074.327.01.655.006.981-.012.326-.018.65-.051.97-.098.324-.048.643-.11.954-.187.312-.076.616-.167.91-.275.296-.107.584-.23.86-.37.276-.14.542-.295.798-.467.255-.173.501-.36.733-.567.232-.206.45-.43.648-.672.198-.243.376-.503.53-.783.155-.278.288-.576.393-.891.104-.314.182-.645.23-.991.048-.346.065-.706.054-1.069-.012-.363-.054-.729-.126-1.094-.073-.367-.175-.73-.305-1.087-.129-.357-.286-.708-.47-1.05-.183-.343-.395-.676-.629-.998-.233-.323-.49-.635-.767-.935-.277-.3-.574-.589-.885-.866-.31-.278-.635-.545-.97-.802-.336-.257-.683-.502-1.04-.736-.358-.234-.724-.458-1.096-.672-.373-.215-.75-.42-1.128-.617-.378-.197-.757-.389-1.134-.573-.377-.185-.75-.366-1.12-.542-.37-.176-.733-.352-1.086-.525-.353-.173-.694-.345-1.023-.518-.329-.174-.643-.349-.942-.527-.3-.179-.583-.36-.85-.547-.268-.187-.52-.38-.753-.579-.233-.199-.45-.404-.647-.618-.198-.214-.375-.437-.529-.672-.154-.235-.285-.48-.392-.739-.107-.258-.189-.529-.245-.812-.057-.283-.086-.579-.088-.885-.001-.306.025-.614.08-.92.055-.307.138-.608.248-.903.11-.295.248-.581.413-.856.165-.274.357-.538.574-.788.217-.25.459-.487.723-.705.264-.217.549-.417.852-.597.304-.18.624-.342.96-.482.336-.14.686-.26 1.047-.36.361-.1.731-.18 1.107-.24.376-.06.756-.1 1.138-.12.382-.02.765-.02 1.147 0 .38.02.76.06 1.136.12.376.06.746.14 1.107.24.36.1.71.22 1.046.36.336.14.656.302.96.482.304.18.588.38.852.597.264.218.506.455.723.705.217.25.41.514.574.788.165.275.303.561.413.856.11.295.193.596.248.903.055.306.081.614.08.92-.002.306-.031.602-.088.885-.056.283-.138.554-.245.812-.107.259-.238.504-.392.739-.154.235-.331.458-.529.672-.198.214-.414.419-.647.618-.233.199-.485.392-.753.579-.267.187-.55.368-.85.547-.299.178-.613.353-.942.527-.329.173-.67.345-1.023.518-.353.173-.716.349-1.086.525-.37.176-.743.357-1.12.542-.377.184-.756.376-1.134.573-.378.197-.755.402-1.128.617-.372.214-.738.438-1.096.672-.357.234-.704.479-1.04.736-.335.257-.66.524-.97.802-.311.277-.608.566-.885.866-.277.3-.534.612-.767.935-.234.322-.446.655-.629.998-.184.342-.341.693-.47 1.05-.13.357-.232.72-.305 1.087-.072.365-.114.731-.126 1.094-.011.363.006.723.054 1.069.048.346.126.677.23.991.105.315.238.613.393.891.154.28.332.54.53.783.198.242.416.466.648.672.232.207.478.394.733.567.256.172.522.327.798.467.276.14.564.263.86.37.294.108.598.199.91.275.311.077.63.139.954.187.32.047.644.08.97.098.326.018.654.022.981.012.327-.011.652-.036.974-.074.322-.039.641-.093.958-.162.316-.07.627-.157.932-.26.305-.104.605-.223.895-.357.289-.135.572-.285.845-.45.27-.164.53-.344.773-.54.244-.195.47-.41.674-.643.204-.233.386-.486.544-.759.157-.27.29-.558.39-.86.1-.302.166-.616.192-.942.02-.252.014-.515-.02-.766-.059-.441-.225-.859-.463-1.245-.238-.387-.543-.744-.89-1.087-.346-.343-.748-.686-1.196-1.016-.448-.33-.938-.663-1.436-1.013-.493-.352-.993-.728-1.463-1.148-.466-.42-.883-.891-1.14-1.471-.109-.246-.193-.513-.233-.796-.009-.067-.016-.139-.022-.226-.004-.034-.008-.068-.008-.104 0-.2.03-.395.098-.575.02-.051.039-.106.063-.158.066-.145.137-.286.213-.42.1-.176.205-.346.314-.506.11-.159.231-.312.366-.445.135-.133.274-.254.418-.353.261-.178.552-.274.848-.33.23-.046.449-.069.602-.069h.04l.016-.015v-.024s-.009-.008-.203-.031c-.048-.006-.182-.007-.358-.007H11.573z"
            ></path>
          </svg>
        </div>
        <span class="text-center text-gray-300">Next.js</span>
      </div>

      <div class="flex flex-col items-center">
        <div
          class="bg-gray-700 p-4 rounded-lg w-16 h-16 flex items-center justify-center mb-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-10 h-10 text-green-500"
          >
            <path
              d="M11.998,24c-0.321,0-0.641-0.084-0.922-0.247l-2.936-1.737c-0.438-0.245-0.224-0.332-0.08-0.383 c0.585-0.203,0.703-0.25,1.328-0.604c0.065-0.037,0.151-0.023,0.218,0.017l2.256,1.339c0.082,0.045,0.197,0.045,0.272,0l8.795-5.076 c0.082-0.047,0.134-0.141,0.134-0.238V6.921c0-0.099-0.053-0.192-0.137-0.242l-8.791-5.072c-0.081-0.047-0.189-0.047-0.271,0 L3.075,6.68C2.99,6.729,2.936,6.825,2.936,6.921v10.15c0,0.097,0.054,0.189,0.139,0.235l2.409,1.392 c1.307,0.654,2.108-0.116,2.108-0.89V7.787c0-0.142,0.114-0.253,0.256-0.253h1.115c0.139,0,0.255,0.112,0.255,0.253v10.021 c0,1.745-0.95,2.745-2.604,2.745c-0.508,0-0.909,0-2.026-0.551L2.28,18.675c-0.57-0.329-0.922-0.945-0.922-1.604V6.921 c0-0.659,0.353-1.275,0.922-1.603l8.795-5.082c0.557-0.315,1.296-0.315,1.848,0l8.794,5.082c0.57,0.329,0.924,0.944,0.924,1.603 v10.15c0,0.659-0.354,1.273-0.924,1.604l-8.794,5.078C12.643,23.916,12.324,24,11.998,24z M19.099,13.993 c0-1.9-1.284-2.406-3.987-2.763c-2.731-0.361-3.009-0.548-3.009-1.187c0-0.528,0.235-1.233,2.258-1.233 c1.807,0,2.473,0.389,2.747,1.607c0.024,0.115,0.129,0.199,0.247,0.199h1.141c0.071,0,0.138-0.031,0.186-0.081 c0.048-0.054,0.074-0.123,0.067-0.196c-0.177-2.098-1.571-3.076-4.388-3.076c-2.508,0-4.004,1.058-4.004,2.833 c0,1.925,1.488,2.457,3.895,2.695c2.88,0.282,3.103,0.703,3.103,1.269c0,0.983-0.789,1.402-2.642,1.402 c-2.327,0-2.839-0.584-3.011-1.742c-0.02-0.124-0.126-0.215-0.253-0.215h-1.137c-0.141,0-0.254,0.112-0.254,0.253 c0,1.482,0.806,3.248,4.655,3.248C17.501,17.007,19.099,15.91,19.099,13.993z"
            ></path>
          </svg>
        </div>
        <span class="text-center text-gray-300">Node.js</span>
      </div>

      <div class="flex flex-col items-center">
        <div
          class="bg-gray-700 p-4 rounded-lg w-16 h-16 flex items-center justify-center mb-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-10 h-10 text-red-500"
          >
            <path
              d="M22.5 8.5c0-1.5-1.567-2.5-4.5-2.5a7.5 7.5 0 0 0-3 .5 7.5 7.5 0 0 0-3-.5c-2.933 0-4.5 1-4.5 2.5 0 1.23 1.516 2.158 3.5 2.423V15.5c-2.19.308-3.5 1.366-3.5 2.5 0 1.5 1.567 2.5 4.5 2.5 1.55 0 2.343-.323 3-.775V23h2v-3.275c.657.452 1.45.775 3 .775 2.933 0 4.5-1 4.5-2.5 0-1.134-1.31-2.192-3.5-2.5V10.923c1.984-.265 3.5-1.193 3.5-2.423zm-7.5 11c-1.667 0-2.5-.5-2.5-1s.833-1 2.5-1 2.5.5 2.5 1-.833 1-2.5 1zm0-11c-1.667 0-2.5-.5-2.5-1s.833-1 2.5-1 2.5.5 2.5 1-.833 1-2.5 1z"
            ></path>
          </svg>
        </div>
        <span class="text-center text-gray-300">TanStack Query</span>
      </div>

      <div class="flex flex-col items-center">
        <div
          class="bg-gray-700 p-4 rounded-lg w-16 h-16 flex items-center justify-center mb-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-10 h-10 text-green-500"
          >
            <path
              d="M11.998,24c-0.321,0-0.641-0.084-0.922-0.247l-2.936-1.737c-0.438-0.245-0.224-0.332-0.08-0.383 c0.585-0.203,0.703-0.25,1.328-0.604c0.065-0.037,0.151-0.023,0.218,0.017l2.256,1.339c0.082,0.045,0.197,0.045,0.272,0l8.795-5.076 c0.082-0.047,0.134-0.141,0.134-0.238V6.921c0-0.099-0.053-0.192-0.137-0.242l-8.791-5.072c-0.081-0.047-0.189-0.047-0.271,0 L3.075,6.68C2.99,6.729,2.936,6.825,2.936,6.921v10.15c0,0.097,0.054,0.189,0.139,0.235l2.409,1.392 c1.307,0.654,2.108-0.116,2.108-0.89V7.787c0-0.142,0.114-0.253,0.256-0.253h1.115c0.139,0,0.255,0.112,0.255,0.253v10.021 c0,1.745-0.95,2.745-2.604,2.745c-0.508,0-0.909,0-2.026-0.551L2.28,18.675c-0.57-0.329-0.922-0.945-0.922-1.604V6.921 c0-0.659,0.353-1.275,0.922-1.603l8.795-5.082c0.557-0.315,1.296-0.315,1.848,0l8.794,5.082c0.57,0.329,0.924,0.944,0.924,1.603 v10.15c0,0.659-0.354,1.273-0.924,1.604l-8.794,5.078C12.643,23.916,12.324,24,11.998,24z M19.099,13.993 c0-1.9-1.284-2.406-3.987-2.763c-2.731-0.361-3.009-0.548-3.009-1.187c0-0.528,0.235-1.233,2.258-1.233 c1.807,0,2.473,0.389,2.747,1.607c0.024,0.115,0.129,0.199,0.247,0.199h1.141c0.071,0,0.138-0.031,0.186-0.081 c0.048-0.054,0.074-0.123,0.067-0.196c-0.177-2.098-1.571-3.076-4.388-3.076c-2.508,0-4.004,1.058-4.004,2.833 c0,1.925,1.488,2.457,3.895,2.695c2.88,0.282,3.103,0.703,3.103,1.269c0,0.983-0.789,1.402-2.642,1.402 c-2.327,0-2.839-0.584-3.011-1.742c-0.02-0.124-0.126-0.215-0.253-0.215h-1.137c-0.141,0-0.254,0.112-0.254,0.253 c0,1.482,0.806,3.248,4.655,3.248C17.501,17.007,19.099,15.91,19.099,13.993z"
            ></path>
          </svg>
        </div>
        <span class="text-center text-gray-300">Node.js</span>
      </div>

      <div class="flex flex-col items-center">
        <div
          class="bg-gray-700 p-4 rounded-lg w-16 h-16 flex items-center justify-center mb-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-10 h-10 text-purple-400"
          >
            <path
              d="M23.0732 2.21699L12.7502 22.2842C12.6694 22.4253 12.5344 22.5236 12.3779 22.5593C12.2214 22.595 12.0582 22.5654 11.9252 22.4772L8.5002 20.4772C8.35519 20.3908 8.25388 20.2509 8.21893 20.0897C8.18398 19.9285 8.21877 19.7592 8.3142 19.6262L19.2502 1.70319C19.3394 1.56258 19.4907 1.47736 19.6574 1.47491C19.8241 1.47247 19.9779 1.55309 20.0712 1.69119L23.0002 6.23219C23.0976 6.38125 23.1134 6.56725 23.0432 6.73119L14.9252 21.9522L16.0002 22.5842L23.4142 6.69119C23.4842 6.52731 23.4684 6.34149 23.3712 6.19269L20.4422 1.65169C20.2532 1.35869 19.9622 1.16169 19.6302 1.10419C19.2982 1.04669 18.9592 1.13569 18.7002 1.35169L7.7642 19.2747C7.5728 19.5407 7.50267 19.8793 7.57247 20.2017C7.64227 20.5241 7.84548 20.8039 8.1312 20.9747L11.5562 22.9747C12.0052 23.2427 12.5572 23.2977 13.0502 23.1237C13.5432 22.9497 13.9312 22.5747 14.1312 22.0747L24.4532 2.00769C24.5232 1.84369 24.5072 1.65769 24.4102 1.50869L21.4812 -3.03109C21.2922 -3.32409 21.0012 -3.52109 20.6692 -3.57859C20.3372 -3.63609 19.9982 -3.54709 19.7392 -3.33109L4.7642 19.2747C4.5728 19.5407 4.50267 19.8793 4.57247 20.2017C4.64227 20.5241 4.84548 20.8039 5.1312 20.9747L12.5562 25.4747C13.0052 25.7427 13.5572 25.7977 14.0502 25.6237C14.5432 25.4497 14.9312 25.0747 15.1312 24.5747L24.4532 6.00769C24.5232 5.84369 24.5072 5.65769 24.4102 5.50869L23.0732 2.21699Z"
            ></path>
          </svg>
        </div>
        <span class="text-center text-gray-300">Vite</span>
      </div>
    </div>

    <h3>Recent Projects</h3>

    <div class="space-y-6 my-6">
      <div class="bg-gray-800 p-6 rounded-lg">
        <h4 class="text-xl font-medium text-white mb-2">Project Name</h4>
        <p class="text-gray-300 mb-4">
          A brief description of the project and what technologies were used.
        </p>
        <div class="flex space-x-4">
          <a href="#" class="text-indigo-400 hover:text-indigo-300">View Demo</a
          >
          <a href="#" class="text-indigo-400 hover:text-indigo-300">GitHub</a>
        </div>
      </div>

      <div class="bg-gray-800 p-6 rounded-lg">
        <h4 class="text-xl font-medium text-white mb-2">Another Project</h4>
        <p class="text-gray-300 mb-4">
          A brief description of the project and what technologies were used.
        </p>
        <div class="flex space-x-4">
          <a href="#" class="text-indigo-400 hover:text-indigo-300">View Demo</a
          >
          <a href="#" class="text-indigo-400 hover:text-indigo-300">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</SiteLayout>
