---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import SiteLayout from "../layouts/SiteLayout.astro";

import Carousel from "../components/carousel/Carousel.astro";
import CarouselContent from "../components/carousel/CarouselContent.astro";
import CarouselItem from "../components/carousel/CarouselItem.astro";
import CarouselNext from "../components/carousel/CarouselNext.astro";
import CarouselPrevious from "../components/carousel/CarouselPrevious.astro";

import Cursor from "../icons/tech/cursor_dark.svg";
import Nextjs from "../icons/tech/nextjs_icon_dark.svg";
import Node from "../icons/tech/nodejs.svg";
import React from "../icons/tech/react_dark.svg";
import Tanstack from "../icons/tech/tanstack.svg";
import Typescript from "../icons/tech/typescript.svg";
---

<SiteLayout title={SITE_TITLE} description={SITE_DESCRIPTION} activeLink="home">
  <h2 class="text-3xl font-bold text-white mb-6">Welcome!</h2>

  <p class="text-lg text-gray-400 mb-6">
    I'm a software engineer based in Dublin, Ireland with over 8 years of
    building web applications.
  </p>
  <h3 class="text-2xl font-bold text-white mb-6">Skills</h3>

  <div class="flex justify-between items-start gap-4 my-6">
    <div class="flex flex-col items-center">
      <Typescript class="w-12 h-12" />
      <span class="text-sm text-gray-400 mt-2">TypeScript</span>
    </div>
    <div class="flex flex-col items-center">
      <React class="w-12 h-12" />
      <span class="text-sm text-gray-400 mt-2">React</span>
    </div>
    <div class="flex flex-col items-center">
      <Tanstack class="w-12 h-12" />
      <span class="text-sm text-gray-400 mt-2">TanStack Query</span>
    </div>
    <div class="flex flex-col items-center">
      <Nextjs class="w-12 h-12" />
      <span class="text-sm text-gray-400 mt-2">Next.js</span>
    </div>
    <div class="flex flex-col items-center">
      <Node class="w-12 h-12" />
      <span class="text-sm text-gray-400 mt-2">Node.js</span>
    </div>
    <div class="flex flex-col items-center">
      <Cursor class="w-12 h-12" />
      <span class="text-sm text-gray-400 mt-2">Cursor</span>
    </div>
  </div>

  <h3 class="text-2xl font-bold text-white mb-6">
    Previous Commercial Projects
  </h3>

  <div class="w-full">
    <Carousel id="projects-carousel" opts={{ loop: true }}>
      <CarouselContent>
        <CarouselItem>
          <div class="rounded-lg overflow-hidden shadow-lg bg-gray-800">
            <div class="aspect-video">
              <img
                src="https://i8qrvymqoy.ufs.sh/f/5bi1XUVQkRmSScRThEbVfEJ4jbILkeMFwiotspxWBCUX32qG"
                alt="Bank of Ireland Insurance Wallet"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="p-4">
              <h4 class="text-lg font-semibold">
                Bank of Ireland Insurance Wallet
              </h4>
            </div>
          </div>
        </CarouselItem>

        <CarouselItem>
          <div class="rounded-lg overflow-hidden shadow-lg bg-gray-800">
            <div class="aspect-video">
              <img
                src="https://i8qrvymqoy.ufs.sh/f/5bi1XUVQkRmSBTQcUlwmVr9gQWkpqRUMtaXbD4yzvPYLiAeC"
                alt="Evervault dashboard"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="p-4">
              <h4 class="text-lg font-semibold">Evervault Dashboard</h4>
            </div>
          </div>
        </CarouselItem>

        <CarouselItem>
          <div class="rounded-lg overflow-hidden shadow-lg bg-gray-800">
            <div class="aspect-video">
              <img
                src="https://i8qrvymqoy.ufs.sh/f/5bi1XUVQkRmSBDfDTVwmVr9gQWkpqRUMtaXbD4yzvPYLiAeC"
                alt="Web Summit live-streaming site"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="p-4">
              <h4 class="text-lg font-semibold">
                Web Summit Live-Streaming Site
              </h4>
            </div>
          </div>
        </CarouselItem>
      </CarouselContent>

      <CarouselPrevious />
      <CarouselNext />
    </Carousel>
  </div>
</SiteLayout>
