---
import Bluesky from "../icons/custom/bluesky.svg";
import Github from "../icons/lucide/github.svg";
import Linkedin from "../icons/lucide/linkedin.svg";
import Mail from "../icons/lucide/mail.svg";
---

<div class="flex flex-wrap justify-center gap-8 my-8">
  <a
    href="mailto:ciaran.curley.11.11@gmail.com"
    class="flex flex-col items-center group"
    aria-label="Email"
  >
    <div
      class="p-3 rounded-full bg-gray-800 group-hover:bg-indigo-600 transition-colors"
    >
      <Mail class="w-6 h-6 text-gray-400 group-hover:text-white" />
    </div>
    <span
      class="mt-2 text-sm text-gray-400 group-hover:text-indigo-400 transition-colors"
      >Email</span
    >
  </a>
  <a
    href="https://bsky.app/profile/dogpawhat.tech"
    class="flex flex-col items-center group"
    aria-label="Bluesky"
  >
    <div
      class="p-3 rounded-full bg-gray-800 group-hover:bg-indigo-600 transition-colors"
    >
      <Bluesky class="w-6 h-6 text-gray-400 group-hover:text-white" />
    </div>
    <span
      class="mt-2 text-sm text-gray-400 group-hover:text-indigo-400 transition-colors"
      >Bluesky</span
    >
  </a>
  <a
    href="https://github.com/dogpawhat"
    class="flex flex-col items-center group"
    aria-label="GitHub"
  >
    <div
      class="p-3 rounded-full bg-gray-800 group-hover:bg-indigo-600 transition-colors"
    >
      <Github class="w-6 h-6 text-gray-400 group-hover:text-white" />
    </div>
    <span
      class="mt-2 text-sm text-gray-400 group-hover:text-indigo-400 transition-colors"
      >GitHub</span
    >
  </a>
  <a
    href="https://www.linkedin.com/in/dogpawhat/"
    class="flex flex-col items-center group"
    aria-label="LinkedIn"
  >
    <div
      class="p-3 rounded-full bg-gray-800 group-hover:bg-indigo-600 transition-colors"
    >
      <Linkedin class="w-6 h-6 text-gray-400 group-hover:text-white" />
    </div>
    <span
      class="mt-2 text-sm text-gray-400 group-hover:text-indigo-400 transition-colors"
      >LinkedIn</span
    >
  </a>
</div>
