---
interface Props {
  class?: string;
  orientation?: "horizontal" | "vertical";
}

const { class: className = "" } = Astro.props;

// hard coded until i learn astro better
const orientation = "horizontal";
---

<div data-embla-viewport class="overflow-hidden">
  <div
    data-embla-container
    class:list={[
      "flex",
      orientation === "horizontal" ? "-ml-4" : "-mt-4 flex-col",
      className,
    ]}
  >
    <slot />
  </div>
</div>
