---
interface Props {
  class?: string;
  orientation?: "horizontal" | "vertical";
  variant?: string;
}

const {
  class: className = "",
  orientation = "horizontal",
  variant = "outline",
} = Astro.props;

import ArrowRight from "../../icons/lucide/arrow-right.svg";
---

<button
  type="button"
  data-embla-next
  class:list={[
    "absolute h-8 w-8 rounded-full",
    orientation === "horizontal"
      ? "-right-12 top-1/2 -translate-y-1/2"
      : "-bottom-12 left-1/2 -translate-x-1/2 rotate-90",
    variant === "outline"
      ? "bg-gray-800 border border-gray-700 text-gray-200 hover:bg-gray-700"
      : "",
    className,
  ]}
>
  <ArrowRight class="h-4 w-4" />
  <span class="sr-only">Next slide</span>
</button>

